<section class="catalog">
    <div class="container">
        <div class="catalog__inner">
            <h2 class="catalog__title title"><span>НАШ</span> КАТАЛОГ</h2>
            <!-- Slider main container -->
            <div class="catalog-slider-wrapper">
                <div class="swiper catalog-slider">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper catalog-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide catalog-item product-item">
                            <div class="catalog-item__img">
                                <img src="images/product-1.webp" alt="">
                            </div>
                            <h2 class="catalog-item__title">
                                Товар
                            </h2>
                            <div class="product-price">
                                <!-- <p class="old-price">₽ 500</p> -->
                                <p class="">₽ 400</p>
                            </div>
                        </div>

                        <div class="swiper-slide catalog-item product-item">
                            <div class="catalog-item__discount product-item__discount">
                                <p>-20% СКИДКА</p>
                            </div>
                            <div class="catalog-item__img">
                                <img src="images/product-2.webp" alt="">
                            </div>
                            <h2 class="catalog-item__title">
                                Товар
                            </h2>
                            <div class="product-price">
                                <!-- <p class="old-price">₽ 500</p> -->
                                <p class="">₽ 400</p>
                            </div>
                        </div>

                        <div class="swiper-slide catalog-item product-item">
                            <div class="catalog-item__img">
                                <img src="images/product-3.webp" alt="">
                            </div>
                            <h2 class="catalog-item__title">
                                Товар
                            </h2>
                            <div class="product-price">
                                <!-- <p class="old-price">₽ 500</p> -->
                                <p class="">₽ 400</p>
                            </div>
                        </div>

                        <div class="swiper-slide catalog-item product-item">
                            <div class="catalog-item__img">
                                <img src="images/product-1.webp" alt="">
                            </div>
                            <h2 class="catalog-item__title">
                                Товар
                            </h2>
                            <div class="product-price">
                                <!-- <p class="old-price">₽ 500</p> -->
                                <p class="">₽ 400</p>
                            </div>
                        </div>

                        <div class="swiper-slide catalog-item product-item">
                            <div class="catalog-item__img">
                                <img src="images/product-2.webp" alt="">
                            </div>
                            <h2 class="catalog-item__title">
                                Товар
                            </h2>
                            <div class="product-price">
                                <!-- <p class="old-price">₽ 500</p> -->
                                <p class="">₽ 400</p>
                            </div>
                        </div>

                        <div class="swiper-slide catalog-item product-item">
                            <div class="catalog-item__img">
                                <img src="images/product-3.webp" alt="">
                            </div>
                            <h2 class="catalog-item__title">
                                Товар
                            </h2>
                            <div class="product-price">
                                <!-- <p class="old-price">₽ 500</p> -->
                                <p class="">₽ 400</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="catalog-slider__btns product-item__btns">
                    <div class="catalog-slider-prev product-item__prev product-item__slider-btn">
                        <img src="images/prev-btn.svg" alt="">
                    </div>
                    <div class="catalog-slider-next product-item__next product-item__slider-btn">
                        <img src="images/next-btn.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>