<section class="discount">
    <div class="main-container">
        <div class="discount__inner">
            <div class="discount__img">
                <img src="images/discount-img.webp" alt="discount-img">
            </div>
            <div class="discount-info">
                <div class="discount-info__head">
                    <h2 class="discount-info__title">HYDE <span>СКИДКИ НЕДЕЛИ</span></h2>
                    <a class="discount-info__link">ПОСМОТРЕТЬ ВСЕ</a>
                </div>
                <div class="discount-slider-wrapper">
                    <div class="swiper discount-slider">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper discount-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide discount-item product-item">
                                <div class="catalog-item__discount product-item__discount">
                                    <p>-20% СКИДКА</p>
                                </div>
                                <div class="discount-item__img">
                                    <img src="images/product-1.webp" alt="">
                                </div>
                                <h2 class="discount-item__title">
                                    Товар
                                </h2>
                                <div class="product-price">
                                    <p class="old-price">₽ 500</p>
                                    <p class="new-price">₽ 400</p>
                                </div>
                            </div>

                            <div class="swiper-slide discount-item product-item">
                                <div class="catalog-item__discount product-item__discount">
                                    <p>-20% СКИДКА</p>
                                </div>
                                <div class="discount-item__img">
                                    <img src="images/product-2.webp" alt="">
                                </div>
                                <h2 class="discount-item__title">
                                    Товар
                                </h2>
                                <div class="product-price">
                                    <p class="old-price">₽ 500</p>
                                    <p class="new-price">₽ 400</p>
                                </div>
                            </div>

                            <div class="swiper-slide discount-item product-item">
                                <div class="catalog-item__discount product-item__discount">
                                    <p>-20% СКИДКА</p>
                                </div>
                                <div class="discount-item__img">
                                    <img src="images/product-3.webp" alt="">
                                </div>
                                <h2 class="discount-item__title">
                                    Товар
                                </h2>
                                <div class="product-price">
                                    <p class="old-price">₽ 500</p>
                                    <p class="new-price">₽ 400</p>
                                </div>
                            </div>
                        </div>
        
                        
                    </div>
                    <div class="discount-slider__btns product-item__btns">
                        <div class="discount-slider-prev product-item__prev product-item__slider-btn">
                            <img src="images/prev-btn.svg" alt="">
                        </div>
                        <div class="discount-slider-next product-item__next product-item__slider-btn">
                            <img src="images/next-btn.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>