<section class="intro">
    <div class="container">
        <div class="intro__inner">
            <div class="intro__info">
                <h1 class="intro__title">Интернет магазин товаров</h1>
                <p class="intro__descr">
                    <strong>HYDE</strong> магазин оригинальных аксессуаров, высокое качество продукции, удобная и быстрая доставка
                </p>
                <a class="intro__btn btn" href="">КАТАЛОГ</a>
            </div>
            <div class="intro__img">
                <img src="../images/intro-img.webp" alt="">
            </div>
        </div>
    </div>
</section>