.other-products {
    margin-top: 60px;
    padding-bottom: 50px;
    // .other-products__inner

    &__inner {
    }

    // .other-products__title

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */
        text-align: center;

        color: #231F20;

    }
}

