<section class="products">
    <div class="main-container">
        <div class="products-inner">
            <aside class="products-sidebar">
                <div class="products-sidebar__item">
                    <div class="products-sidebar__trigger">
                        <p>Категория 1</p>
                        <img src="images/products-sidebar-arrow.svg" alt="">
                    </div>
                    <div class="products-sidebar__content">
                        <label class="">One
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                        <label class="">One
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="">One
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>

                <div class="products-sidebar__item">
                    <div class="products-sidebar__trigger">
                        <p>Категория 2</p>
                        <img src="images/products-sidebar-arrow.svg" alt="">
                    </div>
                    <div class="products-sidebar__content">
                        <label class="">One
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="">One
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <label class="">One
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </aside>
            <div class="products-content">
                <div class="products-content__search">
                    <input type="search" name="" id="">
                    <button class="products-content__search-btn btn">Поиск</button>
                </div>
                <div class="products-content__category">
                    <!-- Slider main container -->

                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide products-content__category-item active">Подкатегория 1</div>
                        <div class="swiper-slide products-content__category-item">Подкатегория 1</div>
                        <div class="swiper-slide products-content__category-item">Подкатегория 2</div>
                        <div class="swiper-slide products-content__category-item">Подкатегория 3</div>
                        <div class="swiper-slide products-content__category-item">Подкатегория 4 </div>
                    </div>
                </div>
                <div class="products-content__filter">
                    <p>40 Товаров</p>
                    <div class="products-content__dropdown">
                        <div class="products-content__dropdown-trigger">
                            <p>Сортировать</p>
                            <img src="images/filter-arrow.svg" alt="">
                        </div>
                        <div class="products-content__dropdown-content">
                            <p>ASC</p>
                            <p>DESC</p>
                        </div>
                    </div>
                </div>
                <div class="products-catalog">
                    <div class="product-item">
                        <div class="product-item__img">
                            <img src="images/product-1.webp" alt="">
                        </div>
                        <h2 class="product-item__title">
                            Товар
                        </h2>
                        <div class="product-price">
                            <!-- <p class="old-price">₽ 500</p> -->
                            <p class="">₽ 400</p>
                        </div>
                        <div class="product-counter">
                            <div class="product-counter__minus product-counter__item">-</div>
                            <div class="product-counter__value">1</div>
                            <div class="product-counter__plus product-counter__item">+</div>
                        </div>
                        <div class="product-btn">
                            <button class="btn">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-item__img">
                            <img src="images/product-1.webp" alt="">
                        </div>
                        <h2 class="product-item__title">
                            Товар
                        </h2>
                        <div class="product-price">
                            <!-- <p class="old-price">₽ 500</p> -->
                            <p class="">₽ 400</p>
                        </div>
                        <div class="product-counter">
                            <div class="product-counter__minus product-counter__item">-</div>
                            <div class="product-counter__value">1</div>
                            <div class="product-counter__plus product-counter__item">+</div>
                        </div>
                        <div class="product-btn">
                            <button class="btn">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-item__img">
                            <img src="images/product-1.webp" alt="">
                        </div>
                        <h2 class="product-item__title">
                            Товар
                        </h2>
                        <div class="product-price">
                            <!-- <p class="old-price">₽ 500</p> -->
                            <p class="">₽ 400</p>
                        </div>
                        <div class="product-counter">
                            <div class="product-counter__minus product-counter__item">-</div>
                            <div class="product-counter__value">1</div>
                            <div class="product-counter__plus product-counter__item">+</div>
                        </div>
                        <div class="product-btn">
                            <button class="btn">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="product-item">
                        <div class="product-item__img">
                            <img src="images/product-1.webp" alt="">
                        </div>
                        <h2 class="product-item__title">
                            Товар
                        </h2>
                        <div class="product-price">
                            <!-- <p class="old-price">₽ 500</p> -->
                            <p class="">₽ 400</p>
                        </div>
                        <div class="product-counter">
                            <div class="product-counter__minus product-counter__item">-</div>
                            <div class="product-counter__value">1</div>
                            <div class="product-counter__plus product-counter__item">+</div>
                        </div>
                        <div class="product-btn">
                            <button class="btn">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
                <nav class="products-pagination">
                    <div class="nav-links">
                        <span aria-current="page" class="page-numbers current">1</span>
                        <a class="page-numbers" href="https://site.example/news/page/2/">2</a>
                        <a class="next page-numbers" href="/"><img src="images/pagination-arrow.svg" alt=""></a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>