<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__columns">
                <div class="footer__col footer__logo">
                    <img src="images/logo.svg" alt="">
                </div>
                <div class="footer__col footer__menu">
                    <ul>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Каталог</a></li>
                        <li><a href="#">О нас</a></li>
                    </ul>
                </div>
                <div class="footer__col footer__menu">
                    <ul>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Скидки</a></li>
                    </ul>
                </div>
                <div class="footer__col footer__send">
                    <p>Подпишитесь на рассылку, чтобы быть в курсе последних горячих поступлений</p>
                    <form class="footer__send-form" action="">
                        <input class="footer__mail" placeholder="Введите свою почту" type="mail" name="" id="">
                        <button type="submit"><img src="images/mail-icon.svg" alt="" class="footer__mail-icon"></button> 
                    </form>
                    <div class="footer__socials">
                        <div class="footer__social-item">
                            <a href="#">
                                <img src="images/twitter.svg" alt="">
                            </a>
                        </div>
                        <div class="footer__social-item">
                            <a href="#">
                                <img src="images/linkedin.svg" alt="">
                            </a>
                        </div>
                        <div class="footer__social-item">
                            <a href="#">
                                <img src="images/facebook.svg" alt="">
                            </a>
                        </div>
                        <div class="footer__social-item">
                            <a href="#">
                                <img src="images/instagram.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <p>All rights are reserved</p>
            </div>
        </div>
    </div>
</footer>