<div class="header-top">
    <div class="container">
        <div class="header-top__links">
            <ul>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Помощь</a></li>
                <li><a href="#">Вход/Регистрация</a></li>
            </ul>
        </div>
    </div>
</div>
<header class="header">
    <div class="container">
        <nav class="header__nav">
            <div class="header__search">
                <a href=""><img src="images/search.svg" alt="search"></a>
            </div>
            <div class="header__links">
                <ul>
                    <li><a href="catalog.html">каталог</a></li>
                    <li><a href="">о нас</a></li>
                </ul>
            </div>
            <div class="header__logo">
                <a href="index.html"><img src="images/logo.svg" alt="logo"></a>
            </div>
            <div class="header__links">
                <ul>
                    <li><a href="#">ТОП ТОВАРОВ</a></li>
                    <li><a href="#">КОНТАКТЫ</a></li>
                </ul>
            </div>
            <div class="header__profile">
                <div class="header__profile-item">
                    <a href=""><img src="images/profile.svg" alt="profile"></a>
                </div>
                <div class="header__profile-item notification">
                    <a href=""><img src="images/notification.svg" alt="notification"></a>
                </div>
                <div class="header__profile-item">
                    <a href=""><img src="images/shop-cart.svg" alt="shop-cart"></a>
                </div>
            </div>
        </nav>
    </div>
</header>