<section class="checkout payment">
    <div class="container">
        <div class="checkout-inner">
            <div class="checkout-info">
                <h2 class="checkout-info__title">ОПЛАТА</h2>
                <form action="" method="post" class="checkout-info__form">
                    <div class="payment-option">
                        <label class="payment-option__label">Bitcoin
                            <input type="radio" checked="checked" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <label class="payment-option__label">Apple Wallet
                            <input type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <label class="payment-option__label">Paypal
                            <input type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <label class="payment-option__label">Дебетовая или кредитная карта
                            <input type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <label class="payment-option__label">Cash on delivery
                            <input type="radio" name="radio">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <h3 class="checkout-info__form-title">Реквизиты</h3>
                    <input placeholder="Номер карты" type="text">
                    <input placeholder="ФИО" type="text">
                    <div class="checkout-info__form-wrap">
                        <input placeholder="мм.гг" type="text">
                        <input placeholder="cvv" type="text">
                    </div>
                    <div class="checkout-info__form-footer">
                        <div class="checkout-info__form-back">
                            <img src="images/back-arrow.svg" alt="">
                            <p>Вернуться в корзину</p>
                        </div>
                        <div class="checkout-info__form-next">
                            <button class="btn modal__btn">Оплатить 400 ₽</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="checkout-img">
                <img src="images/payment-img.webp" alt="payment-img">
            </div>
        </div>
    </div>
</section>