<section class="checkout payment">
    <div class="container">
        <div class="checkout-inner">
            <div class="checkout-info">
                <h2 class="checkout-info__title">ОПЛАТА</h2>
                <form action="" method="post" class="checkout-info__form">
                    <div class="payment-dropdown">
                        <div class="payment-trigger">
                            <p>Bitcoin</p>
                            <img src="images/products-sidebar-arrow.svg" alt="">
                        </div>
                        <div class="payment-option">
                            <div class="payment-option__label">Cryptocurrency
                            </div>
                            <div class="payment-option__label">Apple Wallet
                            </div>
                            <div class="payment-option__label">Paypal
                            </div>
                            <div class="payment-option__label">Дебетовая или кредитная карта
                            </div>
                            <div data-payment="cash-on-delivery" class="payment-option__label">Сash on delivery
                            </div>
                        </div>
                    </div>
                    <div class="payment-form-data">
                        <h3 class="checkout-info__form-title">Реквизиты</h3>
                        <input placeholder="Номер карты" type="text">
                        <input placeholder="ФИО" type="text">
                        <div class="checkout-info__form-wrap">
                            <input placeholder="ММ.ГГ" type="text">
                            <input placeholder="CVV" type="text">
                        </div>
                    </div>
                    <div class="checkout-info__form-footer">
                        <div class="checkout-info__form-back">
                            <img src="images/back-arrow.svg" alt="">
                            <p>Вернуться в корзину</p>
                        </div>
                        <div class="checkout-info__form-next">
                            <button class="btn modal__btn">Оплатить 400 ₽</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="checkout-img">
                <img src="images/payment-img.webp" alt="payment-img">
            </div>
        </div>
    </div>
</section>