<section class="other-products">
    <div class="container">
        <div class="other-products__inner">
            <h2 class="other-products__title">ПОХОЖИЕ ТОВАРЫ</h2>
            <div class="catalog-slider-wrapper">
                <div class="swiper catalog-slider">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper catalog-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide catalog-item product-item">
                            <div class="catalog-item__img">
                                <img src="images/product-1.webp" alt="">
                            </div>
                            <h2 class="catalog-item__title">
                                Товар
                            </h2>
                        </div>

                        <div class="swiper-slide catalog-item product-item">
                            <div class="catalog-item__discount product-item__discount">
                                <p>-20% СКИДКА</p>
                            </div>
                            <div class="catalog-item__img">
                                <img src="images/product-2.webp" alt="">
                            </div>
                            <h2 class="catalog-item__title">
                                Товар
                            </h2>
                        </div>

                        <div class="swiper-slide catalog-item product-item">
                            <div class="catalog-item__img">
                                <img src="images/product-3.webp" alt="">
                            </div>
                            <h2 class="catalog-item__title">
                                Товар
                            </h2>
                        </div>

                        <div class="swiper-slide catalog-item product-item">
                            <div class="catalog-item__img">
                                <img src="images/product-1.webp" alt="">
                            </div>
                            <h2 class="catalog-item__title">
                                Товар
                            </h2>
                        </div>

                        <div class="swiper-slide catalog-item product-item">
                            <div class="catalog-item__img">
                                <img src="images/product-2.webp" alt="">
                            </div>
                            <h2 class="catalog-item__title">
                                Товар
                            </h2>
                        </div>

                        <div class="swiper-slide catalog-item product-item">
                            <div class="catalog-item__img">
                                <img src="images/product-3.webp" alt="">
                            </div>
                            <h2 class="catalog-item__title">
                                Товар
                            </h2>
                        </div>
                    </div>


                </div>
                <div class="catalog-slider__btns product-item__btns">
                    <div class="catalog-slider-prev product-item__prev product-item__slider-btn">
                        <img src="images/prev-btn.svg" alt="">
                    </div>
                    <div class="catalog-slider-next product-item__next product-item__slider-btn">
                        <img src="images/next-btn.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>