.intro {

    // .intro__inner
    background-color: #F8F8F8;
    padding: 55px 0;
    &__inner {
        display: flex;
        // align-items: center;
    }

    // .intro__info

    &__info {
        padding-top: 65px;
    }

    // .intro__title

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 66px;
        text-transform: uppercase;

        color: #577337;

    }

    // .intro__descr

    &__descr {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-top: 15px;
        color: #707070;
        width: 80%;
    }

    // .intro__btn

    &__btn {
        margin-top: 38px;
        display: inline-block;
        padding: 13px 59px;
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        background-color: $green;
        color: #FFFFFF;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);

    }

    // .intro__img

    &__img {
    }
}

