@import "components/fonts";
@import "components/vars";
@import "components/header";
@import "components/main-page/intro";
@import "components/main-page/catalog";
@import "components/main-page/discount";
@import "components/main-page/hit";
@import "components/main-page/banner";
@import "components/footer";
body{
    font-family: 'Montserrat';
}
.main-container{
    max-width: 1366px;
    margin: 0 auto;
}
.container{
    max-width: 1204px;
    margin: 0 auto;
}
.btn{
    background-color: $green;
    transition: all .3s;
    &:hover{
        background-color: #445c2b;
    }
}
.swiper-button-disabled{
    display: none !important;
}
.old-price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-decoration-line: line-through;

    color: #1E1E20;
}
.new-price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    margin-left: 8px;
    color: #1E1E20;

} 
.product-price{
    display: flex;
    justify-content: center;
}
.product-item__discount{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px 15px;
    background-color: $green;
    & p{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */


        color: #FFFFFF;

    }
}
.product-item__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-top: 20px;
    color: #1E1E20;
}
.product-item__img{
    background: #F3F3F3;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        width: 280px;
        height: 280px;
    }
}
.product-item__slider-btn{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0%,-75%);
    transition: all .3s;
    &:hover{
        background-color: #bebebe;
    }
}

.product-item__next{
    right: -3%;
}
.product-counter{
    display: flex;
    // margin-top: 15px;
    justify-content: space-between;
    width: 77%;
    margin: 15px auto 0 auto;
    &__item{
        background-color: $green;
        color: #fff;
        width: 100%;
        cursor: pointer;
        padding: 10px;
        display: flex;
        justify-content: center;
        transition: all .3s;
        &:hover{
            background-color: #32461d;
        }
    }
    &__plus{

        border-radius: 0 10px 10px 0;
    }
    &__minus{
        border-radius: 10px 0 0 10px;
    }
    &__value{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #bebebe;
    }
}

.product-item__prev{
    left: -3%;
}

@media screen and (max-width:1250px) {
    .container{
        padding: 0 15px;
    }
    .main-container{
        padding: 0 15px;
    }
    .catalog-item__img{
        display: flex;
        justify-content: center;
    }
    .product-item__next{
        right: 0;
    }
    .product-item__prev{
        left: 0;
    }
    .discount-info__head{
        flex-direction: column;
    }
    .discount .product-item__next{
        right: 0;
        top: 60%;
    }
    .discount .product-item__prev{
        left: 0;
        top: 60%;
    }
    .hit-info__head{
        flex-direction: column;
    }
    .hit .product-item__next{
        right: 0;
    }
    .hit .product-item__prev{
        left: 0;
    }
    .products-inner{
        flex-direction: column;
    }
    .products-sidebar{
        width: 100%;
        margin-right: 0;
    }
    .products-content{
        width: 100%;
        padding: 10px;
    }
    .products-content__search{
        width: 100%;
    }
    .single-product__info{
        flex-direction: column;
        align-items: center;
    }
    // .single-product__inner{
    //     width: 70%;
    //     margin: 0 auto;
    // }
    .single-product__images{
        margin-right: 0;
    }
    .single-product__inner .product-counter{
        margin: 15px auto 0 auto;
        width: 100%;
    }
    .single-product__content-btn-add{
        margin: 20px auto 0;
        width: 100%;
    }
    .product-info__dropdown{
        margin: 0 auto;
        width: 100%;
    }
    .checkout-inner{
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .checkout-info{
        width: 100%;
    }
    .checkout-img{
        margin-top: 50px;
        display: none;
    }
    .checkout-info__form-footer{
        margin-top: 5px;
        margin-bottom: 25px;
    }
    .payment .checkout-inner{
        flex-direction: row;
    } 
    .payment .checkout-info{
        width: auto;
    }
}
@media screen and (max-width:991px) {
    
    .desktop__menu{
        & .header__search, & .header__links, & .header__profile{
            display: none;
        }
    }
    .burger{
        display: flex;
    }
    .intro__inner{
        flex-direction: column;
        align-items: center;
        
    }
    .intro{
        padding: 20px 0;
    }
    .intro__info{
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .intro__title{
        text-align: center;
    }
    .intro__descr{
        width: 100%;
        text-align: center;
    }
    .intro__img{
        margin-top: 25px;
    }
    .discount__inner{
        flex-direction: column;
    }
    .discount__img{
        // margin-right: 0;
        display: none;
        // & img{
        //     width: 100%;
        //     height: 200px;
        //     object-fit: cover;
        // }
    }
    .hit__inner{
        flex-direction: column;
    }
    .hit__img{
        display: none;
    }
    .product-item{
        width: calc((100% / 2) - 14px);
    }
    .header__logo{
        transform: translateX(0);
    }
    .payment .checkout-inner{
        flex-direction: column;
    } 
    .payment .checkout-info{
        width: 100%;
    }
    .payment .checkout-img{
        display: none;
    }
    .payment .checkout-info__form-footer{
        margin-bottom: 25px;
    }
}
@media screen and (max-width:770px) {
    .intro__title{
        font-size: 36px;
        line-height: 43px;
    }
    .header__logo a img{
        width: 65%;
    }
    
    .intro__descr{
        font-size: 18px;
    }
    .intro__btn{
        font-size: 18px;
    }
    .catalog{
        padding-top: 25px;
    }
    .catalog-item__img{
        padding: 35px;
    }
    .discount{
        padding-top: 25px;
    }
    .hit{
        padding-top: 25px;
    }
    .banner__title {
        font-size: 36px;
        line-height: 36px;
    }
    .banner__descr{
        font-size: 16px;
        width: 90%;
    }
    .footer__columns{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__col{
        margin: 15px 0;
    }
    .footer__send{
        width: 100%;
    }
    .footer__logo{
        & img{
            width: 65%;
        }
    }
    .catalog-intro{
        height: 300px;
        & img{
            // height: 300px;
            // object-fit: cover;
        }
    }
    .product-item{
        width: 100%;
    }
    .products-catalog{
        gap: 15px 0;
    }
    .products-content__category-item{
        font-size: 18px;
        padding: 15px 29px;
    }
    .single-product__images{
        flex-direction: column;
    }
    .single-product__images-thumb{
        display: flex;
        gap: 10px;
        order: 2;
        margin-top: 15px;
    }
    .single-product__images-main{
        width: 100%;
        height: 100%;
    }
    .single-product__content{
        width: 100%;
    }
}
@media screen and (max-width:650px) {
    .checkout-img{
        & img{
            width: 100%;
            height: 100%;
        }
    }
}
@media screen and (max-width:550px) {
    .intro__img{
        & img{
            width: 100%;
            height: 100%;
        }
    }
    .catalog-item__img img{
        width: 100%;
        height: auto;
    }
    .discount-item__img img{
        width: 100%;
        height: auto;
    }
    .discount-slider{
        margin-top: 25px;
    }
    .hit-item__img img{
        width: 100%;
        height: auto;
    }
    .product-item__slider-btn{
        width: 40px;
        height: 40px;
        & img{
            width: 23%;
            // height: 100%;
        }
    }
    .product-item__next{
        top: 45%;
    }
    .product-item__prev{
        top: 45%;
    }
    .hit .product-item__next{
        top: 60%;
    }
    .hit .product-item__prev{
        top: 60%;
    }
    .single-product__images-thumb{
        flex-wrap: wrap;
        justify-content: center;
    }
    .checkout-info__form-footer{
        flex-direction: column;
    }
    .checkout-info__form-back{
        margin-bottom: 15px;
    }
    .checkout-info__title{
        font-size: 32px;
    }
}
@media screen and (max-width:480px) {
    .intro__title{
        font-size: 24px;
        line-height: 24px;
    }
    .discount-info__title{
        font-size: 24px;
        & span{
            font-size: 24px;
        }
    }
    .catalog-item__img img{
        width: 50%;
    }
    .catalog__title{
        font-size: 24px;
    }
    .intro__descr{
        font-size: 14px;
        line-height: 20px;
    }
    .intro__btn{
        margin-top: 20px;
    }
    .catalog-slider{
        margin-top: 20px;
    }
    .discount-info__link{
        font-size: 14px;
    }
    .discount-item__img img{
        width: 50%;
        // height: auto;
    }
    .discount-item__img{
        padding: 20px;
    }
    .hit-item__img img{
        width: 50%;
    }
    .hit-item__img{
        padding: 20px;
    }
    .hit-info__title {
        font-size: 24px;
        & span{
            font-size: 24px;
        }
    }
    .hit-slider-wrapper{
        margin-top: 25px;
    }
    .banner__title{
        font-size: 24px;
    }
    .banner__descr{
        font-size: 14px;
    }
    .products-content__filter{
        flex-direction: column;
        margin-top: 35px;
        & p{
            margin-bottom: 15px;
        }
    }
    .product-item__img{
        padding: 20px;
    }
    .product-item__img img{
        width: 50%;
        height: auto;
    }
    .products-content__search-btn{
        font-size: 14px;
    }
    .single-product__content-title{
        font-size: 24px;
    }
    .single-product__content-price{
        font-size: 20px;
    }
    .single-product__content-descr table{
        width: 100%;
    }
    .single-product__content-options{
        flex-wrap: wrap;
    }
    .other-products__title{
        font-size: 24px;
    }
    .checkout-info__title{
        font-size: 24px;
    }
    .checkout-info__form{
        margin-top: 20px;
    }
    .checkout-info__form-wrap{
        flex-direction: column;
        gap: 0;
    }
    .checkout-info__form-footer{
        margin-top: 0;
    }
    .checkout-info__form-next button{
        font-size: 16px;
    }
    .checkout-img{
        margin-top: 25px;
    }
}