<section class="checkout">
    <div class="container">
        <div class="checkout-inner">
            <div class="checkout-info">
                <h2 class="checkout-info__title">ОФОРМЛЕНИЕ ЗАКАЗА</h2>
                <form action="" method="post" class="checkout-info__form">
                    <h3 class="checkout-info__form-title">Данные доставки</h3>
                    <div class="checkout-info__form-wrap">
                        <input placeholder="ФИО" type="text">
                        <input placeholder="Название магазина" type="text">
                    </div>
                    <input placeholder="Адрес доставки" type="text">
                    <input placeholder="Город доставки" type="text">
                    <input placeholder="Номер телефона" type="tel">
                    <div class="checkout-info__form-wrap">
                        <input placeholder="Email" type="email">
                        <input placeholder="Комментарий" type="text">
                    </div>
                    <input placeholder="Номер карты системы лояльности" type="tel">
                    <div class="checkout-info__form-footer">
                        <div class="checkout-info__form-back">
                            <img src="images/back-arrow.svg" alt="">
                            <p>Вернуться в корзину</p>
                        </div>
                        <div class="checkout-info__form-next">
                            <button class="btn">Сохранить и продолжиь</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="checkout-img">
                <img src="images/checkout-img.webp" alt="checkout-img">
            </div>
        </div>
    </div>
</section>